canvas {
    width: 800px;
    height: 600px;
    border: 5px solid black;
    margin: 0px auto;
    display: block;
}
#options{
    display: block;
    margin: 0px auto;
    text-align: center;
}
#canvas2{
    z-index: -1;
    position: relative;
    top: -610px;
}
#gameOver{
    width:800px;
    height: 600px;
    margin: 0px auto;
    display: block;
}